* {
	box-sizing: border-box;
}

 /*  PAGE STYLES  */

body {
  color: black;
  background-color: #fff;
  font: 1em 'Josefin Sans', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.25em;
	text-transform: uppercase;
	display: inline-block;
	margin: 50px;
}

h2 {
	font-size: 1.1em;
	margin: 30px 0 0 10px;
	padding: 0 10px;
}

/*  HEADER AND INTRO AND FOOTER STYLES  */

.main-header {
	background-color: #2d3945;
	color: white;
	width: 100%;
	text-align: center;
}

.intro {
	width: 90%;
	border-bottom: 6px solid black;
	margin: auto;
}

.intro p {
	font-size: 1em;
	color: #aaa;
	font-weight: 300;
	margin: 20px;
}

.main-footer {
	font-size: 1em;
	color: #aaa;
	font-weight: 300;
	background-color: #2d3945;
}

/*  FORM STYLES  */

form {
	width: 90%;
	margin: 8px auto;
	outline: none;
	padding-top: 20px;
	border-top: 2px solid black;
}

fieldset {
	border: none;
}

fieldset.contact-info {
	border-bottom: 4px solid black;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.contact-head,
.newsletter {
	text-align: left;
	font-size: 1.5em;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 5px;
  font-size: 1.5em;
  height: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: #e8eeef;
  color: #777;
}

input.post-code {
	max-width: 50%;
	margin-right: 30px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
	color: #bbb;
	text-align: right;
	font-size: .5em;
}

textarea::placeholder  {
	color: #bbb;
	text-align: left;
	font-size: .5em;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 20px 20px 0 0;
}

select {
	background-image: url('../img/arrow.jpg');
	background-position: right;
	background-repeat: no-repeat;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	outline: none;
	border: 3px solid #2d3945;
	background-color: #e0e0e0;
	transition: all .5s;
}

label {
	font-size: 1.1em;
	font-weight: 300;
	margin: 10px 0;
	padding-top: 15px;
}

.newsletter-option {
	display: block;
}

.select-county {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  padding: 20px 5px;
	  font-size: 1em;
}

button {
	width: 100%;
	background-color: #66cccc;
	padding: 20px 0;
	border-radius: 5px;
	font-size: 1.5em;
	margin-top: 30px;
	color: white;
}


/*  FLEXBOX STYLES  */

.main-header,
.intro,
.main-footer
 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.form-flex {
	display: flex;
	flex-direction: column;
}

/*  MEDIA QUERIES  */

@media (min-width: 768px) {

	.intro {
	width: 60%;
  	max-width: 900px;
  }

	form {
	width: 60%;
    max-width: 900px;
  }

  	.contact-info,
  	.form-flex {
    flex-direction: row;
  }

    .contact-info input,
    .contact-info select {
    flex-grow: 1;
    flex-basis: 75%;
  }

    .contact-info label {
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
  }
}

