* {
	box-sizing: border-box;
}

 /*  PAGE STYLES  */
 
body {
  color: black;
  background-color: #fff;
  font: 1em 'Josefin Sans', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	display: inline-block;
	margin: 50px;
}

h2 {
	font-size: 3.25em;
	margin: 30px 0 0 10px;
	padding: 0 10px;
}

/*  HEADER AND INTRO AND FOOTER STYLES  */

.main-header {
	background-color: #2d3945;
	color: white;
	width: 100%;
	text-align: center;
}

.intro {
	width: 90%;
	border-bottom: 8px solid black;
	margin: auto;
}

.intro p {
	font-size: 2.75em;
	color: #aaa;
	font-weight: 300;
	margin: 20px 70px;
}

.main-footer {
	font-size: 2em;
	color: #aaa;
	font-weight: 300;
}

hr {
	width: 90%;
	border: 2px solid black;
}

/*  FORM STYLES  */

form {
	width: 90%;
	margin: 8px auto;
	border: none;
	padding-top: 20px;
}

fieldset {
	border: none;
}

fieldset.contact-info {
	border-bottom: 4px solid black;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.contact-head,
.newsletter {
	text-align: left;
	font-size: 2.5em;
	margin-bottom: 30px;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea,
select {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 4em;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #e8eeef;
  color: #777;
}

input.post-code {
	max-width: 50%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
	color: #bbb;
	text-align: right;
	font-size: .5em;
}

input[type="radio"],
input[type="checkbox"] {
	width: 30px;
	height: 30px;
	margin: 20px 50px 0 0;
}

label {
	font-size: 1.75em;
	font-weight: 300;
	margin: 10px 0;
}

.select-county {
	font-size: 2em;
}

button {
	width: 100%;
	background-color: #66cccc;
	padding: 20px 0;
	border-radius: 5px;
	font-size: 3em;
	margin-top: 30px;
}


/*  FLEXBOX STYLES  */

.main-header,
.intro,
.main-footer
 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.form-flex {
	display: flex;
	flex-direction: column;
}

/*  MEDIA QUERIES  */

@media (min-width: 769px) { 

	body {
		width: 80%;
		margin: auto;
	}

.contact-info,
.form-flex {
	display: flex;
	flex-direction: row;
}

.form-flex {
	justify-content: space-between;
}


input {
	background-color: #eee;
	flex-basis: 75%
}

select {
	flex-basis: 75%;
}

label {
	flex-basis: 25%;
}

}


